# Data Science Tools and Ecosystem

## Author:
Vinura Jayakody

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
- Popular languages in Data Science
- Commonly used libraries in Data Science
- Creating a table in Jupyter Notebook
- Perform arithmetic in Jupyter Notebook
- Usage of github in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. tensorflow
2. pandas
3. numpy

| Data Science Tools |
|------------------|
| Jupyter Notebook |
| Google Colab |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335